body {
background-color: #d76fc0;
color: rgb(27, 26, 26);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #64A712;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}